* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
textarea,
input,
button {
  outline: none;
}
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#root .menu {
  padding: 15px 20px;
  display: flex;
  justify-content: ;
  align-items: center;
  border-bottom: 2px solid #999;
  border-radius: ;
}
#root .menu > div {
  margin-left: 15px;
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 0 10px;
}
#root .menu > div img {
  height: 24px;
}
#root .menu a {
  display: block;
  margin-left: 15px;
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 0 10px;
}
#root .menu a img {
  height: 24px;
}
#root .menu .eraser-current {
  box-shadow: 0 0 3px 3px rgba(82, 157, 255, 0.4);
}
#root .menu .graph {
  margin-left: 15px;
}
#root .menu .graph div {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
#root .menu .graph div img {
  height: 20px;
}
#root .menu .graph div:hover {
  border: 1px solid #529dff;
  border-radius: 4px;
  background-color: rgba(82, 157, 255, 0.08);
}
#root .menu .graph .current {
  border: 1px solid #529dff;
  border-radius: 4px;
  background-color: rgba(82, 157, 255, 0.08);
}
#root .menu .graph .line::after {
  content: '';
  display: block;
  width: 30px;
  border-bottom: 2px solid #52aeff;
  transform: rotate(45deg);
}
#root .menu .graph .circle::after {
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  border: 2px solid #52aeff;
  border-radius: 50%;
}
#root .menu .graph .ellipse::after {
  content: '';
  display: block;
  height: 12px;
  width: 20px;
  border: 2px solid #52aeff;
  border-radius: 50%;
}
#root .menu .graph .rectangle::after {
  content: '';
  display: block;
  height: 12px;
  width: 20px;
  border: 2px solid #52aeff;
}
#root .menu .graph .rectangle-corner::after {
  content: '';
  display: block;
  height: 12px;
  width: 20px;
  border: 2px solid #52aeff;
  border-radius: 4px;
}
#root .menu .graph .square::after {
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  border: 2px solid #52aeff;
}
#root .menu .size {
  padding-right: 30px;
  margin-left: 15px;
  position: relative;
}
#root .menu .size .line-size {
  width: 100px;
  border-bottom: 1px solid #000;
}
#root .menu .size::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #666;
  border-left: 1px solid #666;
  transform: rotate(-45deg);
  position: absolute;
  top: 15px;
  right: 10px;
}
#root .menu .size .select-size {
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 99;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: none;
  box-sizing: border-box;
}
#root .menu .size .select-size div {
  width: 120px;
  padding: 10px 10px;
  margin-top: 5px;
  padding-top: 20px;
}
#root .menu .size .select-size div span {
  display: block;
}
#root .menu .size .select-size div:nth-child(1) span {
  border-bottom: 1px solid #000;
}
#root .menu .size .select-size div:nth-child(2) span {
  border-bottom: 3px solid #000;
}
#root .menu .size .select-size div:nth-child(3) span {
  border-bottom: 5px solid #000;
}
#root .menu .size .select-size div:nth-child(4) span {
  border-bottom: 8px solid #000;
}
#root .menu .size .select-size div.current-size {
  border: 1px solid #529dff;
  border-radius: 4px;
  background-color: rgba(82, 157, 255, 0.08);
}
#root .menu .size .select-size div:hover {
  border: 1px solid #529dff;
  border-radius: 4px;
  background-color: rgba(82, 157, 255, 0.08);
}
#root .menu .drawing-zise {
  font-size: 18px;
}
#root .menu .drawing-zise input {
  font-size: 18px;
  padding-left: 8px;
  width: 100px;
  border: none;
  border-bottom: 1px solid #666;
}
#root .menu .drawing-zise span {
  margin: 0 10px;
}
#root .drawing {
  width: 100%;
  height: 100%;
  background-color: rgba(82, 157, 255, 0.4);
  overflow: auto;
  position: relative;
}
#root .drawing #canvas {
  width: 800px;
  height: 500px;
  background: #fff;
}
#root .drawing .text-input {
  position: absolute;
  display: none;
  border: 1px dashed #73beff;
  font-family: "微软雅黑";
  font-size: 16px;
}
#root .prompt-pop-up {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px rgba(82, 157, 255, 0.4);
  position: absolute;
  top: 20%;
  left: 50%;
  display: none;
}
#root .prompt-pop-up h5 {
  margin-bottom: 30px;
}
#root .prompt-pop-up button {
  width: 80px;
  height: 30px;
  border: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#root .prompt-pop-up .confirm {
  margin-left: 30px;
}
